<h1><%= @souscategorie.name %>
<% if user_signed_in? && current_user.role == "admin" %>
(<%= link_to "supprimer", souscategory_path(@souscategorie),
            method: :delete,
            data: { confirm: "Are you sure?" } %> /
<%= link_to "modifier", edit_souscategory_path(@souscategorie) %>)
<% end %>
</h1>

<ul>
<% @souscategorie.projects.each do |projet| %>
<li><%= projet.name %></li>
<li><%= projet.description %></li>
<li><%= projet.site %></li>
<li><iframe width="560" height="315" src="<%= projet.youtube %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
<% end %>
</ul>
