<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
  // Activate tooltip
  $('[data-toggle="tooltip"]').tooltip();

  // Select/Deselect checkboxes
  var checkbox = $('table tbody input[type="checkbox"]');
  $("#selectAll").click(function(){
    if(this.checked){
      checkbox.each(function(){
        this.checked = true;
      });
    } else{
      checkbox.each(function(){
        this.checked = false;
      });
    }
  });
  checkbox.click(function(){
    if(!this.checked){
      $("#selectAll").prop("checked", false);
    }
  });
});
</script>
</head>

<%= render 'shared/navbar' %>
<%= render 'shared/flashes' %>

<div class="container">
  <h1>QUITTER ADMIN</h1>
<%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class: "btn btn-outline-danger"%>
  <div class="table-wrapper">
    <div class="table-title">
      <div class="row">
        <div class="col-sm-6">
          <h2>Liste des membres</h2>
        </div>
        <div class="col-sm-6">
          <%= link_to new_member_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn btn-success'} do %>
          <i class="material-icons">&#xE147;</i>Ajouter membre
          <% end %>
          <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>
          <span class="custom-checkbox">
            <input type="checkbox" id="selectAll">
            <label for="selectAll"></label>
          </span>
        </th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @members.each do |member| %>
      <tr>
        <td>
          <span class="custom-checkbox">
            <input type="checkbox" id="checkbox1" name="options[]" value="1">
            <label for="checkbox1"></label>
          </span>
        </td>
        <td><%= member.last_name %></td>
        <td><%= member.first_name %></td>
        <td>
          <%= link_to  member_path(member),
          method: :delete,
          data: { confirm: "T'es sûr man?" }, class:"delete" do%>
          <i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i>
          <% end %>
         <%= link_to edit_member_path(member),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'edit'} do %>
         <i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i>
         <% end %>
         <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content"></div>
          </div>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>


<div class="table-wrapper">
    <div class="table-title">
      <div class="row">
        <div class="col-sm-6">
          <h2>Liste des catégories</h2>
        </div>
        <div class="col-sm-6">
          <%= link_to new_category_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn btn-success'} do %>
          <i class="material-icons">&#xE147;</i>Ajouter catégrorie
          <% end %>
          <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>
          <span class="custom-checkbox">
            <input type="checkbox" id="selectAll">
            <label for="selectAll"></label>
          </span>
        </th>
        <th>Catégorie</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @categories.each do |category| %>
      <tr>
        <td>
          <span class="custom-checkbox">
            <input type="checkbox" id="checkbox1" name="options[]" value="1">
            <label for="checkbox1"></label>
          </span>
        </td>
        <td><%= category.name %></td>
        <td>
          <%= link_to  category_path(category),
          method: :delete,
          data: { confirm: "T'es sûr man?" }, class:"delete" do%>
          <i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i>
          <% end %>
         <%= link_to edit_category_path(category),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'edit'} do %>
         <i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i>
         <% end %>
         <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content"></div>
          </div>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>


<div class="table-wrapper">
    <div class="table-title">
      <div class="row">
        <div class="col-sm-6">
          <h2>Liste des sous-catégories</h2>
        </div>
        <div class="col-sm-6">
          <%= link_to new_souscategory_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn btn-success'} do %>
          <i class="material-icons">&#xE147;</i>Ajouter sous-catégrorie
          <% end %>
          <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>
          <span class="custom-checkbox">
            <input type="checkbox" id="selectAll">
            <label for="selectAll"></label>
          </span>
        </th>
        <th>Catégories</th>
        <th>Sous-Catégorie</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @souscategories.each do |souscategory| %>
      <tr>
        <td>
          <span class="custom-checkbox">
            <input type="checkbox" id="checkbox1" name="options[]" value="1">
            <label for="checkbox1"></label>
          </span>
        </td>
        <td><%= souscategory.category.name %></td>
        <td><%= souscategory.name %></td>
        <td>
          <%= link_to  souscategory_path(souscategory),
          method: :delete,
          data: { confirm: "T'es sûr man?" }, class:"delete" do%>
          <i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i>
          <% end %>
         <%= link_to edit_souscategory_path(souscategory),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'edit'} do %>
         <i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i>
         <% end %>
         <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content"></div>
          </div>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

<div class="table-wrapper">
    <div class="table-title">
      <div class="row">
        <div class="col-sm-6">
          <h2>Liste des Projets</h2>
        </div>
        <div class="col-sm-6">
          <%= link_to new_project_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn btn-success'} do %>
          <i class="material-icons">&#xE147;</i>Ajouter projet
          <% end %>
          <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>
          <span class="custom-checkbox">
            <input type="checkbox" id="selectAll">
            <label for="selectAll"></label>
          </span>
        </th>
        <th>Projet</th>
        <th>Catégorie</th>
        <th>Sous-catégorie</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @projects.each do |project| %>
      <tr>
        <td>
          <span class="custom-checkbox">
            <input type="checkbox" id="checkbox1" name="options[]" value="1">
            <label for="checkbox1"></label>
          </span>
        </td>
        <td><%= project.name %></td>
        <td><%= project.souscategory.category.name %></td>
        <td><%= project.souscategory.name %></td>
        <td>
          <%= link_to  project_path(project),
          method: :delete,
          data: { confirm: "T'es sûr man?" }, class:"delete" do%>
          <i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i>
          <% end %>
         <%= link_to edit_project_path(project),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'edit'} do %>
         <i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i>
         <% end %>
         <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content"></div>
          </div>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>


