<div class="card" style="width: 18rem;">
  <%= image_tag member.cover_photo %>
  <div class="card-body">
    <h5 class="card-title"><%= member.first_name %> <%= member.last_name %></h5>
    <p class="card-text"><%= member.role %></p>
    <p class="card-text"><%= member.description %></p>
    <p class="card-text"><%= member.email %></p>
    <p class="card-text"><%= member.liens %></p>
    <a href="<%= member.instagram %>"><i class="fab fa-instagram"></i></a>
  </div>
</div>
