<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">x</button>
  <h4 class="modal-title" id="myModalLabel">Modifier Projet</h4>
</div>
<div class="modal-body">
  <%= simple_form_for([@projet]) do |f| %>

            <%= f.association :souscategory %>
            <%= f.input :name, as: :string, required: true %>
            <%= f.input :description %>
            <p>Intégrer une vidéo sur le site:
              <br>
              1. Accédez à la vidéo YouTube que vous souhaitez intégrer.
              <br>
              2. Sous la vidéo, cliquez sur PARTAGER.
              <br>
              3. Cliquez sur Intégrer.
              <br>
              4. Copiez le contenu après src= (exemple: https://www.youtube.com/embed/20QI4krOYYk, ne pas copier les "")
              <br>
              5. Collez ensuite dans le champs "Youtube" juste en dessous :)</p>
            <%= f.input :youtube, as: :string %>
            <%= f.input :site, as: :string %>
            <%= f.submit "Modifier projet", class: "btn btn-primary" %>
            <% end %>
</div>
