<%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
<h1>Liste de tous tes projets</h1>
<ul>
<% @projets.each do |projet| %>
<li>Projet: <%= projet.name %>  Sous-catégorie: <%= projet.souscategory.name %> Catégorie:  <%= projet.souscategory.category.name %>
<% if user_signed_in? && current_user.role == "admin" %>
 <%= link_to "supprimer", project_path(projet),
            method: :delete,
            data: { confirm: "Are you sure?" } %> <%= link_to "modifier", edit_project_path(projet) %></li>
<% end %>
<% end %>
</ul>
