<h1><%= @categorie.name %></h1>
<ul>
<% @categorie.souscategories.each do |souscat| %>
<ul>
<li><%= souscat.name %></li>
</ul>
<% souscat.projects.each do |projet| %>
<li><%= projet.name %></li>
<li><%= projet.description %></li>
<li><iframe width="560" height="315" src="<%= projet.youtube %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
<li><%= projet.site %>
<% end %></li>
<% end %>
</ul>
