<%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
<h1>Liste de tous les membres</h1>
<ul>
<% @members.each do |member| %>
<li><%= member.first_name %> <%= member.last_name %>
  <% if user_signed_in? && current_user.role == "admin" %>
  <%= link_to "supprimer", member_path(member),
            method: :delete,
            data: { confirm: "T'es sûr man?" } %>
  <%= link_to "modifier", edit_member_path(member) %>
  <% end %>
  </li>
  <% end %>
</ul>
